<div class="progress float-right" style="width:33%;" data-toggle="tooltip" data-placement="bottom" title="{{percentage}}%">
    <div class="progress-bar" role="progressbar" style="width: {{percentage}}%;" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>